# Docs
_build/

# Project
*.pem
*.ppk

# Editors
.vscode
.spyderproject
.spyproject

# MacOS
.DS_Store

# Environments
*.env
!sample.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Data Files
aws_access_key.json
*-checkpoint.ipynb
commands.txt
Result/
backup/
.streamlit
